{% extends 'base.html' %}
{% block title %}Collections - piskunovaart {% endblock %}
{% block content %}
    <section class="page-section mt-5 off-white" id="collections">
        <div class="container mt-4">
            <!-- Heading-->
            <h2 class="page-section-heading text-center text-uppercase">Collections</h2>
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fa fa-shirt"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <div class="row d-flex justify-content-around">
                <!-- 1st card -->
                <div class="card card-fix" style="width: 18rem;">
                  <img src="" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">FAB</h5>
                    <button type="button" class="btn btn-primary float-end" data-bs-toggle="modal" data-bs-target="#-----">
                        View
                    </button>
                  </div>
                </div>
                <!-- 2nd card -->
                <div class="card card-fix" style="width: 18rem;">
                  <img src="" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">DEEP</h5>
                      <button type="button" class="btn btn-primary float-end" data-bs-toggle="modal" data-bs-target="#-----">
                          View
                      </button>
                  </div>
                </div>
                <!-- 3rd card -->
                <div class="card card-fix" style="width: 18rem;">
                  <img src="" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">AQUARIUM</h5>
                      <button type="button" class="btn btn-primary float-end" data-bs-toggle="modal" data-bs-target="#-----">
                          View
                      </button>
                  </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}